<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnsoft.device.api.safeaccess.mapper.SafeaccessUserAccessDisableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="safeaccessUserAccessDisableResultMap" type="com.lnsoft.device.entity.SafeaccessUserAccessDisable">
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="id" property="id"/>
        <result column="device_code" property="deviceCode"/>
        <result column="approve_user" property="approveUser"/>
        <result column="mac" property="mac"/>
    </resultMap>


    <select id="selectSafeaccessUserAccessDisablePage" resultMap="safeaccessUserAccessDisableResultMap">
        select * from idevelop_safeaccess_user_access_disable where is_deleted = 0
    </select>

</mapper>
