<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnsoft.device.api.res.mapper.ApproveRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="approveRecordResultMap" type="com.lnsoft.device.entity.ApproveRecord">
        <id column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="wbs_id" property="wbsId"/>
        <result column="filing_no" property="filingNo"/>
        <result column="opt_type" property="optType"/>
        <result column="node_id" property="nodeId"/>
        <result column="node_name" property="nodeName"/>
        <result column="opt_role" property="optRole"/>
        <result column="opt_name" property="optName"/>
        <result column="opt_by" property="optBy"/>
        <result column="opt_title" property="optTitle"/>
        <result column="opt_opinion" property="optOpinion"/>
        <result column="opt_date" property="optDate"/>
        <result column="remark" property="remark"/>
        <result column="approve_status" property="approveStatus"/>
        <result column="filing_code" property="filingCode"/>
    </resultMap>


    <select id="selectApproveRecordPage" resultMap="approveRecordResultMap">
        select * from idevelop_approve_record where is_deleted = 0
    </select>

</mapper>
