<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnsoft.device.api.res.mapper.LogOptMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="logOptResultMap" type="com.lnsoft.device.entity.LogOpt">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="service_id" property="serviceId"/>
        <result column="server_host" property="serverHost"/>
        <result column="server_ip" property="serverIp"/>
        <result column="env" property="env"/>
        <result column="log_level" property="logLevel"/>
        <result column="log_id" property="logId"/>
        <result column="log_data" property="logData"/>
        <result column="method" property="method"/>
        <result column="request_uri" property="requestUri"/>
        <result column="remote_ip" property="remoteIp"/>
        <result column="method_class" property="methodClass"/>
        <result column="method_name" property="methodName"/>
        <result column="user_agent" property="userAgent"/>
        <result column="params" property="params"/>
        <result column="time" property="time"/>
        <result column="create_by" property="createBy"/>
        <result column="opt_name" property="optName"/>
        <result column="opt_type" property="optType"/>
        <result column="opt_role" property="optRole"/>
        <result column="title" property="title"/>
    </resultMap>


    <select id="selectLogOptPage" resultMap="logOptResultMap">
        select * from idevelop_log_opt where is_deleted = 0
    </select>

</mapper>
