<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnsoft.device.api.cmdb.mapper.CmdbResourcecenterTypeCiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="cmdbResourcecenterTypeCiResultMap" type="com.lnsoft.device.api.cmdb.entity.CmdbResourcecenterTypeCi">
        <id column="ci_id" property="ciId"/>
        <result column="select_type" property="selectType"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
    </resultMap>


    <select id="selectCmdbResourcecenterTypeCiPage" resultMap="cmdbResourcecenterTypeCiResultMap">
        select * from idevelop_cmdb_resourcecenter_type_ci where is_deleted = 0
    </select>


    <select id="getItDeviceCiId" resultType="java.lang.Long">
        SELECT `ci_id` FROM `idevelop_cmdb_resourcecenter_type_ci` where is_deleted = 0 and select_type = 0 limit 1
    </select>

    <select id="getAssetStandCiId" resultType="java.lang.Long">
        SELECT `ci_id` FROM `idevelop_cmdb_resourcecenter_type_ci` where is_deleted = 0 and select_type = 1 limit 1
    </select>

</mapper>
