<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnsoft.device.api.asset.mapper.GenerateCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="generateCodeResultMap" type="com.lnsoft.device.api.asset.entity.GenerateCode">
        <id column="unique_key" property="uniqueKey"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="number" property="number"/>
        <result column="time" property="time"/>
        <result column="type" property="type"/>
    </resultMap>


    <select id="selectGenerateCodePage" resultMap="generateCodeResultMap">
        select * from idevelop_generate_code where is_deleted = 0
    </select>

</mapper>
