<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lnsoft.device.api.asset.mapper.ProjectManagerDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="projectManagerDetailResultMap" type="com.lnsoft.device.entity.ProjectManagerDetail">
        <id column="uuid" property="uuid"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="device_code" property="deviceCode"/>
        <result column="erp_asset_code" property="erpAssetCode"/>
        <result column="erp_account_code" property="erpAccountCode"/>
        <result column="erp_asset_status" property="erpAssetStatus"/>
        <result column="erp_status" property="erpStatus"/>
        <result column="i6000_status" property="i6000Status"/>
        <result column="device_type" property="deviceType"/>
        <result column="wbs_code" property="wbsCode"/>
        <result column="wbs_name" property="wbsName"/>
        <result column="stage" property="stage"/>
        <result column="erp_transfer_status" property="erpTransferStatus"/>
        <result column="device_name" property="deviceName"/>
        <result column="i6000_remake" property="i6000Remake"/>
    </resultMap>


    <select id="selectProjectManagerDetailPage" resultMap="projectManagerDetailResultMap">
        select * from idevelop_project_manager_detail where is_deleted = 0
    </select>

</mapper>
